BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
